<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dotvqg92r/image/upload/v1558803435/victoria-kubiaki-1491106-unsplash_jw4nbi.jpg);">
  <div class="main-container banner-content">
    <h1>Crazy cocktails</h1>
    <p>Find your favourite cocktails here: </p>
    <%= render 'shared/search_form' %>
  </div>
</div>

<div class="main-container">
  <h2>All cocktails</h2>
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-card">
          <div class="cocktail-card-photo">
            <%= cl_image_tag(cocktail.photo, width: 350, crop: "scale") %>
          </div>
          <div class="cocktail-card-desc-review">
            <div class="cocktail-card-description">
              <p><%= cocktail.name %></p>
            </div>

            <% cocktail.reviews.each { |review| @sum += review.rating } %>
            <% @number_of_stars = (@sum / cocktail.reviews.size) if cocktail.reviews.size > 0 %>
            <div class="cocktail-card-stars">
              <% if @number_of_stars.positive? %>
                <p><% @number_of_stars.times do %><i class="stars fas fa-star"></i><% end %>
                  <% if cocktail.reviews.size == 1 %>
                    (<%= cocktail.reviews.size %> review)
                  <% else %>
                    (<%= cocktail.reviews.size %> reviews)
                  <% end %>
                </p>
              <% end %>
              <% @sum = 0 %>
              <% @number_of_stars = 0 %>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
