<div class="main-container main-container-padding">
  <div class="form-container">
    <h2>Add new cocktail</h2>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :description, label: "Recipe", :as => :text, input_html: { rows: 3 } %>

      <h3>Doses:</h3>
        <div id='doses' class="form-doses">
          <%= f.simple_fields_for :doses do |dose| %>
            <%= render 'shared/doses_fields', :f => dose %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'add dose', f, :doses, html_options = { partial: 'shared/doses_fields' } %>
          </div>
        </div>

      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Add new cocktail", class: "btn btn-secondary mt-2" %>
    <% end %>
  </div>
</div>
